.project
.cproject
.classpath
.settings
.settings/
.metadata
doc/
target/
baselines/
target-eclipse/
.springBeans
.copyarea.db
*.class
*.html
bin/
*.launch
*.ear
*.log*
*.launch
*.bak
*.orig
*.swp
*.swo
bin/
META-INF/
*.bak
*.DS_Store
*.ipr
*.iws
#ignoring for intellij caveman style.. if you know how to fix, help :)
*.iml
.idea
*.fpr
*/*.fpr
*/*/*.fpr
*/*/*/*.fpr
*/*/*/*/*.fpr
*/*/*/*/*/*.fpr
*.fileno
*/*.fileno
*/*/*.fileno
*/*/*/*.fileno
*/*/*/*/*.fileno
*/*/*/*/*/*.fileno
*.iml
*/*.iml
*/*/*.iml
*/*/*/*.iml
.pmd
pom.xml.versionsBackup
.checkstyle
*.so
*.docx
*.doc
.feature_format
